.spinner-portal-container {
  width: 50% !important;
}

.symbol {
  animation: rotate 6s infinite linear;
  fill: #830000;
  width: 225px;
  height: 225px;
  animation-play-state: paused;
}
.symbol:hover {
  animation-play-state: running;
}

.symbol1,
.symbol2,
.symbol3,
.symbol4,
.symbol5,
.symbol6 {
  animation: scale 6s infinite ease-in-out;
  transform-origin: center center;
}

.symbol1 {
  animation-delay: 0;
}
.symbol2 {
  animation-delay: 0.25s;
}
.symbol3 {
  animation-delay: 0.5s;
}
.symbol4 {
  animation-delay: 0.75s;
}
.symbol5 {
  animation-delay: 1s;
}
.symbol6 {
  animation-delay: 1.25s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
    fill: #630000;
  }
  12.5% {
    transform: scale(0.25);
    opacity: 0.5;
    fill: #810000;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale2 {
  0% {
    transform: scale(1);
    opacity: 1;
    fill: #7c9079;
  }
  12.5% {
    transform: scale(0.25);
    opacity: 0.5;
    fill: #7c9079;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
}

.isSolved .symbol {
  fill: #7c9079;
}
.isSolved .symbol1,
.isSolved .symbol2,
.isSolved .symbol3,
.isSolved .symbol4,
.isSolved .symbol5,
.isSolved .symbol6 {
  animation: scale2 6s infinite ease-in-out;
  transform-origin: center center;
}

.isSolved .symbol1 {
  animation-delay: 0;
}
.isSolved .symbol2 {
  animation-delay: 0.25s;
}
.isSolved .symbol3 {
  animation-delay: 0.5s;
}
.isSolved .symbol4 {
  animation-delay: 0.75s;
}
.isSolved .symbol5 {
  animation-delay: 1s;
}
.isSolved .symbol6 {
  animation-delay: 1.25s;
}
