body {
    background-color:transparent !important;

  }

  


  
  #hitRing{
   cursor:pointer;
   -webkit-tap-highlight-color:transparent;
  }
  
  .disabled{
   pointer-events:none;
  }
  
  .enabled{
   pointer-events:auto;
  }