@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

.container1 {
  position: relative;
  width: 100%;
  background-color: #080f0f;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field svg {
  text-align: center;
  line-height: 55px;
  color: #080f0f;
  transition: 0.5s;
  /* font-size: 1.1rem; */
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #080f0f;
  font-weight: 500;
}
.input-signup svg {
  text-align: center;
  line-height: 55px;
  color: #080f0f;
  transition: 0.5s;
}

.input-signup input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-signup input::placeholder {
  color: #080f0f;
  font-weight: 500;
}
.input-signup {
  max-width: 300px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 40px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  margin-bottom: 20px;
}

.team-lead-deets svg {
  text-align: center;
  line-height: 55px;
  color: #080f0f;
  transition: 0.5s;
}

.team-lead-deets input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.team-lead-deets input::placeholder {
  color: #080f0f;
  font-weight: 500;
}
.team-lead-deets {
  max-width: 300px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 40px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  margin-bottom: 20px;
}

.countdown-title {
  color: #fff;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #af0404;
  border-color: #ff0000;
}

.btn {
  width: 150px;
  background-color: #af0404;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ff0000;
  color: #fff;
}
.panels-container1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container1:before {
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #630000 0%, #af0404 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.btn.transparent:hover {
  background: #fff;
  border: 2px solid #af0404;
  color: #af0404;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container1.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container1.sign-up-mode .left-panel .image,
.container1.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container1.sign-up-mode .signin-signup {
  left: 25%;
}

.container1.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container1.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container1.sign-up-mode .right-panel .image,
.container1.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container1.sign-up-mode .left-panel {
  pointer-events: none;
}

.container1.sign-up-mode .right-panel {
  pointer-events: all;
}
@media screen and (max-width: 1124px) {
  .signin-signup {
    margin-top: 10%;
  }
  .regform {
    margin-top: -80% !important;
  }
  .input-signup {
    height: 15% !important;
  }
}
@media screen and (max-width: 1124px) {
  .signin-signup {
    margin-top: 10%;
  }
  .regform {
    margin-top: -80% !important;
  }
  .input-signup {
    height: 15% !important;
  }
}
@media (max-width: 870px) {
  .container1 {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .sign-up-form-1 {
    margin-top: 10%;
  }
  .sign-in-form-1 {
    margin-top: -40%;
  }
  .left-panel {
    margin-top: 80px;
  }
  .regsig {
    margin-top: -40%;
  }
  .regform {
    margin-top: -10% !important;
  }

  .signin-signup,
  .container1.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container1:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container1.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container1.sign-up-mode .left-panel .image,
  .container1.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container1.sign-up-mode .right-panel .image,
  .container1.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container1.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container1 {
    padding: 1.5rem;
  }

  .container1:before {
    bottom: 72%;
    left: 50%;
  }

  .container1.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
@media screen and (max-width: 481px) {
  .registerbtn {
    margin-top: -15%;
  }
}
@media screen and (max-width: 451px) {
  .registerbtn {
    margin-top: -20%;
  }

  .countdown-title {
    font-size: 3rem !important;
  }

  .regsig {
    margin-bottom: -20%;
    padding-top: 30%;
    padding-bottom: -10%;
  }
  .hide {
    display: none;
  }
  .reghead {
    font-size: 1.2rem !important;
    white-space: nowrap;
    margin-top: -10%;
  }

  .titlesignup {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 389px) {
  .registerbtn {
    margin-top: -25%;
  }

  .countdown-title {
    font-size: 2.5rem !important;
  }
  .regsig {
    margin-bottom: -10%;
    padding-top: 30%;
    padding-bottom: -10%;
    margin-left: -4%;
  }
  .hide {
    display: none;
  }
  .reghead {
    font-size: 1.14rem !important;

    margin-top: -0%;
    margin-bottom: 0%;
  }

  .regform {
    margin-left: -18px;
  }

  .titlesignup {
    font-size: 2rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 321px) {
  .container1 {
    overflow-x: scroll !important;
  }
}

nav {
  background-color: #000000 !important;
  -webkit-box-shadow: 0 8px 6px -6px #630000;
  -moz-box-shadow: 0 8px 6px -6px #630000;
  box-shadow: 0 8px 6px -6px #630000;
}
nav ul li Link,
nav ul li Link:after,
nav ul li Link:before {
  transition: all 0.5s;
}
nav ul li Link:hover {
  color: #555;
}

/* SHIFT */
nav.shift ul li Link {
  position: relative;
  z-index: 1;
}
nav.shift ul li Link:hover {
  color: #91640f;
}
nav.shift ul li Link:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #af0404;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li Link:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

#landing {
  width: 100vw;
  height: 512px;
  overflow: hidden;
  margin-bottom: 10vh;
  background-color: #080f0f;
}
#bg {
  width: 100%;
  height: 100%;
  background: url('back.png');
  background-size: cover;
  transform-origin: center;
  background-color: #080f0f;
  overflow: hidden;
}

.regform {
  margin-top: -30%;
}

.reghead {
  font-size: 1.8rem;
  color: #fff;
  margin: 10px;
  font-weight: 500;
}
.room h1 {
  padding-top: 10vh;
}
label {
  color: white;
}
.toast {
  z-index: 10;
}
.logo-img {
  width: 100%;
}
.navbar-brand {
  width: 15%;
}

.question-page {
  min-height: 100vh;
  background-size: cover;
  overflow-y: hidden;
  background-color: #000000;
}

.question-text {
  padding: 10px;
  text-align: justify;
  overflow-wrap: break-word;

}

.question-div {
  width: 75vw;
  margin: 20vh auto;
  background-color: #00000086;
  color: white !important;
  text-align: center;
  filter: drop-shadow(0 0 8px black);
  padding: 5%;
  border-radius: 55px;
  border: 2px solid rgba(255, 0, 0, 0.603);
}
.answer-submission {
  display: inline;
  /*margin-top: 40vh; */
}
.answer-submission input {
  border-radius: 55px;
  padding: 10px;
  width: 55%;
}
.answer-submission button {
  padding: 10px;
  background-color: red;
  color: white;
  width: 15%;
  margin: 20px;
 
}
.hint {
  background-color: #000000 !important;
  color: red !important;
}
.Typewriter {
  width: 75%;
  margin: auto;
  text-align: left;
}
.question-div h3 {
  min-height: 80%;
  overflow-y: scroll;
}

.doorui {
  width: 50% !important;
  height: 20%;
  margin-top: 100px;
}

.room {
  background-color: black;
  background-image: url(./images/backgroundimage.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  height: 100vh;
  padding-top: 3%;
  overflow: hidden;
  position: relative;
}
.port {
  width: 40%;
  padding: 0%;

}
.port:nth-child(2) {
  margin-top: 17%;
  margin-left: 12%;
  position: absolute;
}
.port:nth-child(1) {
  margin-top: -3%;
  margin-left: -4%;
  position: absolute;
}
/* .port:nth-child(3) {
  margin-top: -200%;
  margin-left: 40%;
  position: absolute;
} */
.port:nth-child(3) {
  margin-top: 17%;
  margin-left: 50%;
  position: absolute;
}
.port:nth-child(4) {
  margin-top: -3%;
  margin-left: 65%;
  position: absolute;
}
.port:nth-child(5) {
  margin-top: -2%;
  margin-left: 30%;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .port:nth-child(1) {
    margin-top: 20%;
    margin-left: 0%;
  }
  .port:nth-child(2) {
    margin-top: 0%;
    margin-left: 0%;
  }
  .port:nth-child(3) {
    margin-top: 0%;
    margin-left: 0%;
  }
  .port:nth-child(4) {
    margin-top: 0%;
    margin-left: 0%;
  }
  .port:nth-child(5) {
    margin-top: 0%;
    margin-left: 0%;
  }
  .port {
    width: 100% !important;
  }
}

.rulebook-page {
  background-image: url(./images/lines.png);
  background-color: #000000;
  height: 100vh;
  overflow: hidden;
  padding: 5%;
}
.rulebook-display {
  width: 45%;
}
.pages {
  height: 20% !important;
}

@media screen and (max-width: 1300px) {
  .rulebook-display {
    margin-top: 10%;
    width: 50%;
  }
}

.rulebook-main {
  background-color: #000000;
  width: 100%;
  opacity: 0.9;
  height: 88vh;
  z-index: 0;
  overflow-y: scroll;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
}

.rulebook-text {
  text-align: left;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'poppins', sans-serif;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .rulebook-main {
    margin-top: 20%;
    width: fit-content;
    height: 30%;
    overflow-y: scroll;
  }
  .rulebook-page {
    overflow-y: auto;
  }
}
@media screen and (max-width: 992px) {
  .rulebook-main {
    margin-top: 10%;
    width: fit-content;

    overflow-y: scroll;
  }
  .rulebook-page {
    overflow-y: auto;
  }
}
@media screen and (max-width: 500px) {
  .logo-img {
    width: 200%;
  }
}


.room-back{
  margin-top: 30%;
  margin-left: -4%;
  position: fixed;
  z-index: 999;
}

.room-back-three{
  margin-top: -20%;
}