<!DOCTYPE html>
<html lang="en">

<head>
    <style>
         @import url('http://fonts.cdnfonts.com/css/vcr-osd-mono');
    </style>
    <link rel="preload" href="/third_party/font_unifont/EUA6CLEOvQxi7CFwoAJ7_1KPGs1ZzpMvnHX-7fPOuAc.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/third_party/font_unifont/split.css">

    <link rel="stylesheet" type="text/css" href="grid.css">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laberinto</title>
</head>

<body>
    
    <div class="wrap">
        <div class="top-plane"></div>
        
        <div class="bottom-plane"></div>
        <div class="typewriter">
            <div class="typewriter-text">Choose a door. Find your own way out.</div>
        </div>
        
    </div>
    <button class="bu" onclick="document.location='newlev0.html'" > < ENTER THE MAZE > </button>
</body>

</html>
