@import url("compass/css3.css");
html {
  height: 100%;
  overflow: hidden;
}

.typewriter {
  font-family: Courier, monospace;
  display: inline-block;
  margin-top: 19vw;
  margin-left: 18vw;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: .15em;
  animation: typing 4s steps(30, end) , blink .6s step-end infinite ;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600; 
  border-right: 3px solid orange;
  box-sizing: border-box;
  color: black;
  font-family: 'VCR OSD Mono'; 
  margin-top: 30px;                                          
}

button{
  position: relative;
  z-index: 10;
  margin-top: 39vw;
  margin-left: 32vw; 
  font-weight: bolder;
  font-family:'VCR OSD Mono'; 
  color: rgb(219, 219, 197);
  font-size: 40px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px beige;
}

.bu:hover, .bu:active{
  color: black;
  background-color: rgb(255,0,0,0.8);
  box-shadow: 0 0 20px beige;
  border: 2px solid black;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: beige; 
  }
}

body {
  position: relative;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #6084d7), color-stop(50%, #a2cef4), color-stop(50%, #a2cef4), to(#6084d7));
  background: linear-gradient(#000000 25%, rgba(196, 10, 10, 0.9) 50%, rgba(196, 10, 10, 0.9) 50%, #000000 100%);
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  -webkit-perspective: 360px;
          perspective: 360px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.top-plane, .bottom-plane {
  width: 200%;
  height: 130%;
  position: absolute;
  bottom: -30%;
  left: -50%;
  background-image: -webkit-linear-gradient(#a2cef4 2px, transparent 2px), -webkit-linear-gradient(left, #a2cef4 2px, transparent 2px);
  background-size: 100px 100px,100px 100px;
  background-position: -1px -1px,-1px -1px;
  -webkit-transform: rotateX(85deg);
          transform: rotateX(85deg);
  -webkit-animation: planeMoveTop 2s infinite linear;
          animation: planeMoveTop 2s infinite linear;
}

.bottom-plane {
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  top: -30%;
  -webkit-animation: planeMoveBot 2s infinite linear;
          animation: planeMoveBot 2s infinite linear;
}

@-webkit-keyframes planeMoveTop {
  from {
    background-position: 0px -100px,0px 0px;
  }
  to {
    background-position: 0px 0px, 100px 0px;
  }
}

@keyframes planeMoveTop {
  from {
    background-position: 0px -100px,0px 0px;
  }
  to {
    background-position: 0px 0px, 100px 0px;
  }
}

@-webkit-keyframes planeMoveBot {
  from {
    background-position: 0px 0px,0px 0px;
  }
  to {
    background-position: 0px -100px, 100px 0px;
  }
}

@keyframes planeMoveBot {
  from {
    background-position: 0px 0px,0px 0px;
  }
  to {
    background-position: 0px -100px, 100px 0px;
  }
}

@media (max-height: 350px) {
  .wrap {
    -webkit-perspective: 210px;
            perspective: 210px;
  }
}
