 .body {
  background-color: black;
  overflow: hidden;
  padding-top: 2%;
  height: 100vh;
    background-color: black;
    background-image: url(../../images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    height: 100vh;
    padding-top: 3%;
    overflow: hidden;
 }

.portthree {
  margin: auto;
  width: 33%;
  padding: 0%;
}
.singledoor {
  width: 80%;
  margin-top: -7%;
}
.row1 {
  display: inline-block;
  margin-top: 5%;
}
.row2 {
  display: inline-block;
  margin-left: 11%;
  margin-top: -10%;
  padding: 0%;
}
.three {
  visibility: hidden;
}
